# NB: to serve locally use ==$ mkdocs serve== then take address from bottom and open in browser. if doesn't work prob means the port is still connected from the last time used. To fix, on command line type ps -a to see all the ports and then kill -9 []:port number>== to kill the port. The port number will be the 5-digit number at the start of the port serving mkdocs. then  use 'mkdocs serve' again. if working the address will offer local address http://127.0.0.1:8000/ - just press option and click on the link to open in browser.

# Welcome to MkDocs

# For full documentation visit [mkdocs.org](https://www.mkdocs.org).

# Commands

# * `mkdocs new [dir-name]` - Create a new project.
# * `mkdocs serve` - Start the live-reloading docs server.
# * `mkdocs build` - Build the documentation site.
# * `mkdocs -h` - Print help message and exit.

# project configuration
site_name: Devil in the Stack || Notes & Sources
site_url: http://andrewsmithauthor.com/devil/notes/

nav:
  - About: index.md
  - How to use: instructions.md
  - Chapters:
    - Prologues 0+1: notes_0_devil.md
    - Chapter 1: notes_1_devil.md
    - Chapter 2: notes_2_devil.md
    - Chapter 3: notes_3_devil.md
    - Chapter 4: notes_4_devil.md
    - Chapter 5: notes_5_devil.md
    - Chapter 6: notes_6_devil.md
    - Chapter 7: notes_7_devil.md
    - Chapter 8: notes_8_devil.md
    - Chapter 9: notes_9_devil.md
    - Chapter 10: notes_10_devil.md
    - Chapter 11: notes_11_devil.md
    - Chapter 12: notes_12_devil.md
    - Chapter 13: notes_13_devil.md
    - Chapter 14: notes_14_devil.md
    - Chapter 15: notes_15_devil.md
    - Chapter 16: notes_16_devil.md
    - Chapter 17: notes_17_devil.md
    - Chapter 18: notes_18_devil.md
    - Chapter 19: notes_19_devil.md
  - Audiobook: notes_audio_devil.md
  - Main Website: https://andrewsmithauthor.com

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
  # instant nav needs site_url to be given above: enable when that's done
  # - navigation.instant
  # - navigation.instant.progess   shows progress on slow connections
  # - navigation.instant.preview
  # - navigation.tabs
  # - navigation.tabs.sticky
  # - navigation.sections
  # - navigation.prune
    - search: suggest
    - search: highlight
  # add 'search exclusion== to exclude pages/sections from search. see docs
    - content.tabs.link
    - content.code.annotation
    - content.code.copy

  palette:
  # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: purple
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://x.com/wiresmith
    - icon: fontawesome/brands/mastodon
      link: https://mastodon.social/@andrew_smith_author
    - icon: fontawesome/brands/github
      link: https://mastodon.social/@andrew_smith_author
  analytics:
    provider: google
    property: G-YSSFLYWTNE

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      auto_title: true
      linenums: true
      linenums_style: "table"
      # linespans: "span"
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - pymdownx.betterem
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - open-in-new-tab

extra_css:
  - assets/stylesheets/responsive-images.css

copyright: Copyright &copy; 2024 Andrew Smith